<br>
<div class="jumbotron">
    <h1>WHO</h1>
    <h2>Waldo Homeschool Organization </h2></br>
    <p>Welcome to Class Registration and Planning for the Tuesday Homeschool Cooperative! </p>
    <p>To get started, please 
        <%= link_to "Create Account", new_user_registration_path, class: 'btn btn-primary' %> or
        <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %> 
    </p>
</div>