<br>
<div class="jumbotron">
    <h1>Belfast Homeschoolers</h1>
    <p>Welcome to Class Registration - Spring 2015!</p>
    <p>
        <%= link_to "Create Account", new_user_registration_path, class: 'btn btn-primary' %> or
        <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %> 
    </p>
    <% if current_user %>
        <%= link_to "Add students", edit_user_path(current_user) %>
    <% end %>
</div>