<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1>Class Listing</h1>
  </div>
  
  <%= render partial: 'course', locals: { courses: @courses } %>
  
</div>
<br>
<%= link_to 'Add Class', new_course_path, class: 'btn btn-success' %>
