<div class='row'>
   <div class='col-md-8' >
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h1>Add Class to Schedule</h1>
            </div>
            
            <div class='panel-body'>
                <%= render partial: 'form', locals: { course: @course } %>
            </div>
        </div>
    </div>
</div>
<%= link_to 'Back', courses_path %>
