<div class='panel panel-default'>
    <div class='panel-heading'>
        <h1>Add Class</h1>
    </div>

    <div class='panel-body'>
        <%= render partial: 'form', locals: { course: @course } %>
        <%= link_to 'Back', courses_planning_path %>
    </div>
</div>

