/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require dataTables/jquery.dataTables
 *= jquery.ui.core
 *= jquery.ui.theme
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.btn-primary {
    background-color: #114E82;
}

.alert-success {
    background-color: rgba(226,253,124,0.55);
}

.btn-danger {
    background-color: #BD4C48;
}

.nav-tabs>li>a:hover, .nav>li>a:focus, .nav>li>a:hover {
    border-color: transparent !important;
    background-color: rgba(236, 122, 9, 0.5);
}




.jumbotron p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.group_heading {
    font-size: 72px;
    margin-bottom: 60px;
}

.container {
    width: 97%;
}

.jumbotron {
    background-color: rgba(236, 122, 9, 0.50);

}

.instructions {
    font-size: 13px;
    border: 1px solid #ddd;
    border-left: 4px solid #114E82;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 15px;
 }