// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron .age_group {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  border: 1px #ccc;	
  border-bottom-style:solid;
}

.panel-body {
  padding: 50px;
  text-align: left;
}

h3.preview {
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
}

.jumbotron p {
  text-align: left;
}

.course_show_lists {
  border-top: 1px solid #ccc; 
  padding-top: 20px;
}



  
