// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron, .group_heading {
    text-align: center;
}

.jumbotron h1 {
    font-size: 48px;
}

.jumbotron p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.group_heading {
    font-size: 72px;
    margin-bottom: 60px;
}