<p>Hello <%= @resource.email %>!</p>

<p>We hear you want to change your password to the Waldo Homeschool Organization's course registration app. You can do that through the link below:
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request to change your password, please ignore this email and there wont be any changes to your account.</p>
<p> Cheers!<p>
